{% macro render_toc_item(toc_item, indent=0) -%}
<li style="margin-left: {{ indent }}ch;"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
{% for child in toc_item.children -%}
    {{ render_toc_item(child, indent + 1) }}
{%- endfor %}
{%- endmacro -%}

{% macro make_toc(toc) -%}
<nav>
    <ul style="list-style-type: none; padding-left: 0; margin-left: 0;">
        {% for toc_item in toc -%}
            {{ render_toc_item(toc_item, 0) }}
        {%- endfor %}
    </ul>
</nav>
{%- endmacro -%}
