/* The Sweetie 16 palette, mapped onto the terminal theme's variables. */

:root {
    --background-color: #1a1c2c;
    --font-color: #f4f4f4;
    --invert-font-color: #1a1c2c;
    --primary-color: #41a6f6;
    --secondary-color: #94b0c2;
    --tertiary-color: #94b0c2;
    --accent-color: #b13e53;
    --error-color: #b13e53;
    --progress-bar-background: #333c57;
    --progress-bar-fill: #73eff7;
    --code-bg-color: #29366f;
    --code-font-color: #f4f4f4;
    --block-background-color: #1a1c2c;
}
